.admin-boxleft{
    width: 280px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #2b3445;
    .admin-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        color: white;
        & button{
            color: white;
        }
    }
    & .admin-list{
        padding: 1rem;
        p{
            color: white;
        }
        & .admin-list-item{
            color: white;
            button{
                width: 100%;
                justify-content: flex-start;
                color: white;
                .css-i4bv87-MuiSvgIcon-root{
                    color: aqua;
                }
            }
            .css-1elwnq4-MuiPaper-root-MuiAccordion-root{
                background-color: transparent;
                color: white;
            }
            .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root{
                padding: 0;
            }
            .css-o4b71y-MuiAccordionSummary-content.Mui-expanded{
                margin: 0;
            }
            .css-o4b71y-MuiAccordionSummary-content{
                margin: 0;
            }
            .css-15v22id-MuiAccordionDetails-root{
                padding:0 0 0 1rem ;
            }
        }
        .admin-accordion{
            p{

            }
        }
    }
}